doctype html 
html(lang = "en")
	head
		meta(charste = "utf-8")
		meta(name="viewport")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/animate.css")

		title Dragones, criaturas fantasticas
	body(class="background")
		div(class="col-md-6 center-block quitar-float text-center espacio-arriba")
			img(src="imgs/Alduin.png" class="animated fadeIn")
			h1(class="SkyrimFont grande animated fadeInUp retraso-1") Alduin, The World Eater
			div(class="animated fadeInDown retraso-2")
				h2(class="SkyrimFont pequennia") Skyrim
				nav
					a(href="/menu" class="VanHelsingFont pequennia rojo-daedrico animated pulse retraso-3") Go to Menu